<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %>,</h1>
    <p>
      Tu t'es inscrit(e) sur <%= @url %> à l'évènement suivant: <%= @event.title %>
    </p>
    <p>
      Pour voir les détails de cet évènement, va sur sur : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>