<h1 class="my-5">Dashboard</h1>

  <h2 class="mt-5 mb-2" id="users_admin">Gestion des Utilisateurs</h2>

  <h2 class="mt-5 mb-2" id="events_admin">Validation des Évènements</h2>
   <%= render 'event_submissions/index'%>