<h1 class="my-5">Dashboard</h1>
<div class="">
<!-- @admin Data -->
  <ul class="list-group mb-3">
    <li class="list-group-item"><strong>Identifiant : </strong><%= @admin.id %></li>
    <li class="list-group-item"><strong>Email : </strong><%= @admin.email %></li>
  </ul>
  <div>
  </div>
</div>

  <div class="mb-5">
    <%# MODIFIER IDENTIFIANTS %>
    <%= link_to 'Modifier mes identifiants', edit_admin_registration_path, class: "btn btn-dark w-100"%>
  </div>