<h1>Paiement réussi</h1>

<p>Nous avons bien reçu votre paiement de 
  <%= number_to_currency(@event.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>

<p>Le statut de votre paiement est : Terminé avec succès</p> 