<h1 class="my-5">Profil Utilisateur</h1>
<%# profile %>
<%= render partial: 'users/shared/profile', locals: {user: @user}%>

<%# liste des évenements %>
<%= render partial:"users/shared/events_lists", locals: {admin_events: @admin_events, events: @events} %>

  
    