<h1 class="my-5">Évènement</h1>
  <% if @event.is_admin?(current_user) %> <!-- TODO ou current_admin --> 
    <h2>Statut : <%= @event.status %></h2>
  <% end %>
    <% if @event.is_already_registred?(current_user) %>
    <h5 class="text-info">Vous êtes inscrit à cet évènement</h5>
  <% end %>

  
  <%# EVENT DETAILS %>
  <%= render "events/shared/event_details"%>
  
  <%# BOUTONS %>
  <%= render partial: "events/shared/event_buttons", locals:{event: @event} %>

  
  <% if @users.length>0 &&  @event.is_admin?(current_user) %>
    <%= render partial: "events/shared/attendees", locals: {users: @users} %>
  <% end %>

