<h2 class="mt-5">Liste des participants</h2>
<ul class="list-group mt-5">
  <% users.each do |id| %>
    <%user = User.find(id)%>
    <li class="list-group-item"><%= user.email %></li>
  <%end%>
</ul>